:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 58%);
  --color-grey-900: hsl(217, 19%, 35%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-200: #d8d8d8;
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-blue-300: #55c2e6;
  --color-red: hsl(4, 100%, 67%);
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-300: #f1c75b;

  --text-preset1: 300 56px/66px "Rubik", sans-serif;
  --text-preset2: 300 40px/47px "Rubik", sans-serif;
  --text-preset3: 300 32px/38px "Rubik", sans-serif;
  --text-preset4: 300 24px/28px "Rubik", sans-serif;
  --text-preset5: 500 18px/21px "Rubik", sans-serif;
  --text-preset5-regular: 400 18px/21px "Rubik", sans-serif;
  --text-preset6: 400 15px/18px "Rubik", sans-serif;

  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0;
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
