.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-300);
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: var(--spacing-400);
  }
}
