.card-wrapper {
  padding-top: 38px;
  border-radius: var(--spacing-300);
  transition: transform 0.2s ease;

  overflow: hidden;
  background-image: var(--icon-url);
  background-repeat: no-repeat;

  // 控制图标位置：右侧 15px，上方 -5px（向上偏移产生裁剪效果）
  background-position: top -5px right 15px;

  &.work {
    background-color: var(--color-orange);
  }

  &.play {
    background-color: var(--color-blue-300);
  }

  &.study {
    background-color: var(--color-pink-400);
  }

  &.exercise {
    background-color: var(--color-green-400);
  }

  &.social {
    background-color: var(--color-purple-700);
  }

  &.self-care {
    background-color: var(--color-yellow-300);
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}

.card {
  background-color: var(--color-navy-900);
  border-radius: var(--spacing-300);
  padding: var(--spacing-300);
  display: flex;
  height: 122px;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-100);
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font: var(--text-preset5);
  color: var(--color-white);
}

.card-icon {
  display: block;

  .card:hover & {
    transform: scale(1.1);
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-time {
  font: var(--text-preset3);
  color: var(--color-white);
}

.previous-time {
  font: var(--text-preset6);
  color: var(--color-navy-200);
}

@media (min-width: 768px) {
  .card {
    height: 180px;
    width: 188px;
    gap: var(--spacing-200);
  }

  .card-content {
    flex-direction: column;
  }

  .current-time {
    font: var(--text-preset1);
  }
}

@media (min-width: 1440px) {
  .card-wrapper {
    padding-top: 45px;
  }

  .card {
    width: 255px;
    height: 199px;
    gap: var(--spacing-300);
    padding: var(--spacing-400);
    justify-content: space-between;
  }

  .card-content {
    align-items: flex-start;
    gap: var(--spacing-100);
  }
}
