.card-wrapper {
  padding-top: 38px;
  border-radius: var(--spacing-300);
  transition: transform 0.2s ease;

  &.work {
    background-color: var(--color-orange);
  }

  &.play {
    background-color: var(--color-blue-300);
  }

  &.study {
    background-color: var(--color-pink-400);
  }

  &.exercise {
    background-color: var(--color-green-400);
  }

  &.social {
    background-color: var(--color-purple-700);
  }

  &.self-care {
    background-color: var(--color-yellow-300);
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}

.card {
  background-color: var(--color-navy-900);
  border-radius: var(--spacing-300);
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-400);
}

.card-title {
  font: var(--text-preset5);
  color: var(--color-white);
}

.card-icon {
  .card:hover & {
    transform: scale(1.1);
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-time {
  font: var(--text-preset3);
  color: var(--color-white);
}

.previous-time {
  font: var(--text-preset6);
  color: var(--color-navy-200);
}
