.header {
  background-color: var(--color-navy-900);
  border-radius: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding-bottom: 25px;
}

.profile {
  display: flex;
  align-items: center;
  padding: var(--spacing-400);
  gap: var(--spacing-300);
  background-color: var(--color-purple-600);
  border-radius: 15px;
}

.profile-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.profile-desc {
  font: var(--text-preset6);
  color: var(--color-navy-200);
}

.profile-name {
  font: var(--text-preset4);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .header {
    min-height: 400px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
  }
}

@media (min-width: 1440px) {
  .header {
    width: 300px;
  }
}
