.header {
  background-color: var(--color-navy-900);
  border-radius: var(--spacing-300);
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

.profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.profile-desc {
  font: var(--text-preset5-regular);
  color: var(--color-navy-200);
}

.profile-name {
  font: var(--text-preset2);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .header {
    min-height: 400px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
  }
}

@media (min-width: 1440px) {
  .header {
    width: 300px;
  }
}
