.header {
  background-color: var(--color-navy-900);
  border-radius: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding-bottom: 25px;
}

.profile {
  width: 327px;
  display: flex;
  align-items: center;
  padding: var(--spacing-400);
  gap: var(--spacing-300);
  background-color: var(--color-purple-600);
  border-radius: 15px;
}

.profile-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.profile-desc {
  font: var(--text-preset6);
  color: var(--color-navy-200);
}

.profile-name {
  font: var(--text-preset4);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .header {
    height: 203px;
    align-items: center;
  }

  .profile {
    width: 612px;
    padding-top: 34.5px;
    padding-bottom: 34.5px;
  }
}

@media (min-width: 1440px) {
  .header {
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 28px;
  }
  .profile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 255px;
    height: 354px;
    gap: var(--spacing-500);
  }

  .profile-image {
    width: 78px;
    height: 78px;
  }

  .profile-name {
    font: var(--text-preset2);
  }
}
