.time-range-selector {
  display: flex;
  justify-content: space-around;
  gap: 0px;
}

.time-range-btn {
  background: none;
  border: none;
  color: var(--color-purple-500);
  font: var(--text-preset5-regular);
  cursor: pointer;
  text-align: center;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-white);
  }

  &.active {
    color: var(--color-white);
  }
}

@media (min-width: 768px) {
  .time-range-btn {
    width: 109px;
  }
}
