#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

@media (min-width: 1440px) {
  .dashboard {
    flex-direction: row;
    gap: var(--spacing-400);
  }
}
